<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtutorialshub.loginregister">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Travel With Us"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Place1Activity">

        </activity>
        <activity android:name=".activities.ResultActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" android:parentActivityName=".activities.LoginActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>
        <activity android:name=".activities.UsersListActivity" />
    </application>

</manifest>